body{
    background-image: url('ferdinand-stohr-iW1WzbuWMcA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main{
    display: flex;
    align-items: center;
    justify-content: center
}

.information{
    width: 450px;
    padding: 40px;
    text-align: center;
    color: white;
    align-items: center;
}

img{
    border-radius: 50%;
    padding: 50px;
    
}

h1{
    font-size: 50px ;
    white-space: nowrap;
    text-align: center;
}

h2{
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px ;
    margin-top: 10px;
    margin-bottom: 10px;
}

hr{
    margin: 50px;
}

.information > a{
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 20px 100px;
    border: 1px grey solid ;
    border-radius: 2%;
}

.information a:hover{
    background-color: black;
    color: white;
}

.listofsocial{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

li{
    padding: 0 50px;
}