body{
    background-image: url('ferdinand-stohr-iW1WzbuWMcA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}


.information{
    width: 450px;
    padding: 40px;
    text-align: center;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
}

img{
    margin: 10px 0 50px 0;
    width: 290px;
    height: 290px;
    border:2px solid #fff;
    box-shadow: 0 5px 5px  #ccc;
    border-radius:190px;
}

h1{
    font-size: 50px ;
    white-space: nowrap;
    text-align: center;
}

h2{
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px ;
    margin-top: 10px;
    margin-bottom: 10px;
}

hr{
    margin: 10px;
    width: 400px;
}

.information > a{
    margin-top: 10px;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 20px 100px;
    border: 1px grey solid ;
    border-radius: 2%;
    font-size: 16px;;
}

.button:hover{
    background-color: black;
    color: white;
}

.button{
    transition-duration: 1s;
}

.listofsocial{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    align-self: center;
}

li{
    padding: 0 50px;
}

ul li a{
    color: black;
    margin: 0 10px;
}


ul li .socialicon:hover i.fas{
    transform: translateY(-100%);
    color:white;
}

ul li .socialicon:hover i.fab{
    transform: translateY(-100%);
    color:white;
}

.socialicon i.fab{
    transition-duration: 1s;
}

.socialicon i.fas{
    transition-duration: 1s;
}

